.title {
  color: #333;
  font-size: 21px;
  text-align: center;
  text-anchor: middle;
}

path {
  /*fill: grey;*/
  stroke: #fff;
  stroke-width: 5;
  fill-rule: evenodd;
}

.path-active {
  fill-opacity: 0.4;
  /*fill: #0000ff !important;*/
}

path:hover {
  fill-opacity: 0.65;
}



.tooltip {
  pointer-events: none;
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
}

.label {
  color: black;
  font-size: 12px;
  text-anchor: left;
}

