.label {
  pointer-events: none;
  color: black;
  font-size: 12px;
  text-anchor: middle;
}

h1 {
  color: #333;
  font-size: 26px;
  text-align: center;
  text-anchor: middle;
}

h2 {
  color: #333;
  font-size: 21px;
  text-align: center;
  text-anchor: middle;
}

div.VisTitle {
  background-color: grey ;
  margin-bottom: 100px
}

.title {
  color: #333;
  font-size: 20px;
  text-align: center;
  text-anchor: middle;
}

.slice {
  stroke: white;
  stroke-width: 2;
  fill-opacity: 0.5;
  fill-rule: evenodd;
}

.slice-inactiv {
  pointer-events: none;
  stroke: #fff;
  stroke-width: 5;
  fill: grey !important;
  fill-opacity: 0.5;
  fill-rule: evenodd;
}


/*not working anymore?!*/
.slice:hover {
  fill-opacity: 0.3 !important;
}

.slice-active {
  stroke: white;
  stroke-width: 2;
  fill-opacity: 0.75;
  fill-rule: evenodd;
}

.slice-active-p {
  stroke: white;
  stroke-width: 2;
  fill-opacity: 1;
  fill-rule: evenodd;
}

.tooltipCircle {
  background-color: rgba(242, 242, 242, 1);
  pointer-events: none;
  box-shadow: 0 0 5px #999999;
  display: none;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  text-align: center;
}

.tooltipCircleTemp {
  background-color: rgba(242, 242, 242, 1);
  pointer-events: none;
  box-shadow: 0 0 5px #999999;
  display: none;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  text-align: center;
}

*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}

#cirlceSetVis, #parallelSetVis
{
    display:inline;
    vertical-align: middle;
    width: 100%;
}

#cirlceSetVis
{
    z-index: -1;
    margin-right: 100px;
    width: 100%;
}

#cirlceSetVisTemp{
    display: none;

    position: absolute;
    width: 100%;
}

.childArrows {
  font-size: 17px;
  margin-top: 100em;
  text-align: center;
  text-anchor: middle;
}