.label {
  pointer-events: none;
  color: black;
  font-size: 12px;
  text-anchor: middle;
}

.title {
  color: #333;
  font-size: 21px;
  text-align: center;
  text-anchor: middle;
}

.slice {
  stroke: #fff;
  stroke-width: 5;
  fill-opacity: 0.8;
  fill-rule: evenodd;
}

/*not working anymore?!*/
.slice:hover {
  fill-opacity: 0.3 !important;
}

.slice-active {
  stroke: #fff;
  stroke-width: 5;
  fill-opacity: 1;
  fill-rule: evenodd;
}


.tooltip {
  pointer-events: none;
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
}

*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}